.footer {
  padding-block: 56px;
  background-color: $main-black;

  @include onTablet {
    padding-block: 88px;
  }

  &__content {
    @include pageGrid;

    row-gap: 64px;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__menu,
  &__contact-us {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 4;
    }
  }

  &__contact-us-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include onDesktop {
      flex-direction: row;
      column-gap: 160px;
    }
  }

  &__logo-link {
    display: flex;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 96px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__logo {
    height: 40px;

    @include hover(transform, scale(1.01));
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &-title {
      @include text-uppercase;

      color: $main-grey;
    }
  }

  &__link {
    display: block;
    color: $main-white;

    @include hover(transform, scale(1.01));
  }

  &__title {
    margin-bottom: 40px;
    color: $main-white;
  }

  &__bottom {
    @include pageGrid;

    row-gap: 40px;
  }

  &__icons {
    grid-column: 1 / -1;
    display: flex;
    column-gap: 32px;

    @include onTablet {
      grid-column: 1 / span 4;
    }
  }

  &__copyright {
    grid-column: 1 / -1;
    color: $main-grey;

    @include onTablet {
      grid-column: 5 / span 4;
    }
  }
}
