.main {
  &__content {
    display: grid;
    row-gap: 72px;
    padding: 64px 0 72px;

    @include onTablet {
      row-gap: 152px;
      padding-bottom: 152px;
    }

    @include onDesktop {
      row-gap: 178px;
      padding-bottom: 56px;
    }
  }
}
