$accent-orange: #f9512e;
$dark-orange: #b3341a;
$main-white: #fff;
$main-black: #1c1a26;
$main-grey: #7f8096;
$main-theme-color: $main-black;
$c-gray: #eee;
$light-blue: #eef7ff;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$desktopXL-min-width: 1200px;
$icons-width-height: 24px;
$effectDuration: 0.3s;
